---
layout: minimal
---

<div class="text-center text-white">
  <p>I am a full stack developer exploring the world{% if site.data.global.personal_current_location %}, currently residing in {{ site.data.global.personal_current_location }} but happy to move for the right reasons{% endif %}.</p>
  {% if site.data.global.available_for_work %}
  <p>If you'd like contact me about an opportunity, see my contact details below.</p>
  {% endif %}
  <br>
  <p>
    <a href="{{site.data.global.personal_github}}" target="_blank"><button type="button" class="btn btn-lg btn-primary">Github</button></a>
    <a href="{{site.data.global.personal_linkedin}}" target="_blank"><button type="button" class="btn btn-lg btn-primary">LinkedIn</button></a>
    <a href="mailto:{{site.data.global.personal_email}}" target="_blank"><button type="button" class="btn btn-lg btn-primary">E-Mail</button></a>
  </p>
  <a href="/resume"><button type="button" class="btn btn-lg btn-primary">Résumé</button></a>
</div>