---
layout: minimal
---

<div class="text-center">
  <p><b>This site is under complete re-development to accomodate my future plans. Any communication should be done by either my <a href="{{site.data.global.personal_linkedin}}">LinkedIn</a> or <a href="mailto:{{site.data.global.personal_email}}">E-Mail</a></b></p>
  <p>I am a full stack developer exploring the world{% if site.data.global.personal_current_location %}, currently residing in {{ site.data.global.personal_current_location }} but happy to move for the right reasons{% endif %}.</p>
  {% if site.data.global.available_for_work %}
  <p>If you'd like contact me about an opportunity, see my contact details below.</p>
  {% endif %}
  <!--
  TODO: <br>
  Resume download and github button links<br>
  Footer fixed to bottom if page is small<br>
  Mobile/Tablet testing<br>
  BG image fade in from css? Or tweak colours of bg, maybe have darker and use fade like an image reveal from black?
  -->
</div>