<!doctype html>
<!--[if lt IE 7 ]><html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" id="ie6" class="ie ie-old" lang="en-US"><![endif]-->
<!--[if IE 7 ]>   <html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" id="ie7" class="ie ie-old" lang="en-US"><![endif]-->
<!--[if IE 8 ]>   <html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" id="ie8" class="ie ie-old" lang="en-US"><![endif]-->
<!--[if IE 9 ]>   <html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" id="ie9" class="ie" lang="en-US"><![endif]-->
<!--[if gt IE 9]><!--><html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" lang="en-US"><!--<![endif]-->
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} : {{ site.data.global.title }}{% elsif post.title %}{{ post.title }} : {{ site.data.global.title }}{% else %}{{ site.data.global.title }}{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    
    <!-- Favicons -->
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64 96x96" href="/favicon.ico">
    
    <!-- Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Poppins:400,600">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    
    <!-- Styles -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Speed up BG image loading -->
    <link rel="preload" href="/images/night-road-bg.jpg" as="image">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139160973-1"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-139160973-1');</script>

    <script>function addStarMap() {
        var container = document.getElementById('star-container');
    
        if(!container) return;
    
        var w = container.scrollWidth;
        var h = container.scrollHeight;
    
        for (var i = 0; i < 70; i++) {
    
            var starEl = document.createElement('div');
            
            starEl.className = 'star ' + (Math.random() < 0.7 ? '' : 'lg');

            var styleStr = 'animation: twinkle '
                 + ((Math.random()*5) + 5)
                 + 's linear '
                 + (Math.random()*5)
                 + 's infinite; top: '
                 + Math.random()*h 
                 + 'px; left: '
                 + Math.random()*w
                 + 'px;';
            
            // console.log(styleStr)

            starEl.style = styleStr;

            container.appendChild(starEl);
        }
    
    };</script>

</head>
<body onload="addStarMap()" class="background-cover {{ post.title | downcase | replace:' ','-' | replace:',','' | strip_html }}{% if page.category %} category-{{ page.category }}{% endif %}{% if page.layout-class %} layout-{{ page.layout-class }}{% endif %}" style="{% if page.url == "/" %}background-color: rgba(70,86,125,1); background-image: linear-gradient(to bottom, rgb(19, 18, 21) 0%, rgb(46, 58, 82) 50%, rgb(98, 102, 111) 60%, rgb(13, 15, 19) 100%); {% else %} background-color: #FFF; {% endif %}">