{% include header.html %}
<div class="background-default background-cover">
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mt-3">
                <a href="/"><img src="logo_200_outline-white.png" width="200" height="height" alt="{{ site.data.global.title }}" /></a>
            </div>
            <div class="col-md-12 text-center mt-3">
                {{ content }}
            </div>
        </div>
    </div>
</main>
{% include footer.html %}